body {
    background-image: url(images/map_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 4);
}

#cca_name {
    width: 30%;
    height: auto;
    margin-left: 25%;
}

#IG_logo {
    width: 4%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: -20px;
}

/*Nice work! Have you found all 3? Here's another third: pp5_@r3 */

#discord_logo {
    width: 4%;
    height: auto;
    position: relative;
    margin-left: 10px;
    top: -20px;
}

.main {
    margin: 100px auto;
    text-align: center;
  }

h3, h5 {
    font-size: larger;
}
  
button {
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 80px;
    border: 1px solid blue;
    color: black;
  }
  
  div {
    background-color: rgb(255, 255, 255, 0.4);
    width: 50%;
    padding: 10px;
  }